@model IEnumerable<SistemaBase.Models.OfertaAcademica>

@{
    List<string> columns = new List<string>();
    columns.Add("\"" + Html.DisplayNameFor(model => model.IdOfertaAcademica) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Titulo) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Descripcion) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.FechaCreacion) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.FechaCierre) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Adjunto) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Estado) + "\"");
    if (ViewData["Show"] != null)
    {
        Layout = "";
    }
}
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="./css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="./css/cdn.jsdelivr.net_npm_sweetalert2@7.12.15_dist_sweetalert2.min.css">
}
<script src="~/js/ofertaAcademica.js"> </script>
<script src="~/js/jquery-3.7.0.js"></script>@*
<script src="~/js/jquery-3.6.0.min.js"></script> *@
<script src="~/js/jquery.datatables.min.js"></script>
<script src="~/js/cdnjs.cloudflare.com_ajax_libs_moment.js_2.29.4_moment.min.js"></script>
<script src="~/js/cdnjs.cloudflare.com_ajax_libs_sweetalert_2.1.2_sweetalert.min.js"></script>
@* 
<script>
    function AbrirAdjunto(IdOfertaAcademica) {
        window.open('@Url.Action("AbrirAdjunto", "Vitrina")?IdOfertaAcademica=' + IdOfertaAcademica, '_blank');

    }
</script> *@
<script>
    function AbrirAdjunto(IdOfertaAcademica) {
        const link = document.createElement('a');
        link.href = '@Url.Action("AbrirAdjunto", "Vitrina")?IdOfertaAcademica=' + IdOfertaAcademica;
        link.download = ''; // Esto fuerza el comportamiento de descarga
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>


@if (ViewData["Show"] == null)
{
    <p>
        <a class="d-none" id="detailsview" type="button" data-bs-toggle="modal" data-bs-target="#detailsModal"></a>
    </p>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-7 border-y border-300">
        <div data-list='{"valueNames":[@string.Join(",", columns) ],"page":16}'>
            <div class="row align-items-end justify-content-between pb-5 g-3">
                <div class="col-auto">
                    <h3> Ofertas Academicas</h3>
                    <button class="btnAbm  mt-3" onclick="AbrirOferta(event)" style="@ViewBag.StyleAdmin">
                        <span class="btn-label"><i class="fa fa-plus"></i></span> Nuevo
                    </button>
                </div>
                <div class="col-12 col-md-auto">
                    <div class="row g-2 gy-3">
                        <div class="col-auto flex-1">
                            <div class="search-box">
                                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                    <input class="form-control search-input search form-control-sm" type="search" placeholder="Buscar" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="listbody">
                <div class="table-responsive mx-n1 px-1Latest">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs--1 ps-0 align-middle text-center col-1 pt-2 pb-2 pl-2"></th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Titulo))">@Html.DisplayNameFor(model => model.Titulo)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Descripcion)"> @Html.DisplayNameFor(model => model.Descripcion)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.FechaCreacion)"> @Html.DisplayNameFor(model => model.FechaCreacion)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.FechaCierre)"> @Html.DisplayNameFor(model => model.FechaCierre)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Adjunto)"> @Html.DisplayNameFor(model => model.Adjunto)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Estado)"> @Html.DisplayNameFor(model => model.Estado)</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                        <td class="fs--1 align-middle ps-0 text-center col-1 pt-2 pb-2 pl-2">
                                            <a asp-action="DeleteForo" asp-route-id="@item.IdOfertaAcademica" style="@ViewBag.StyleAdmin" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar este registro?');">
                                                <span class="btn-label"><i class="fa fa-trash"></i></span>
                                            </a>
                                            <button class="btnAbm" onclick="abrirEditOferta('@item.IdOfertaAcademica')" style="@ViewBag.StyleAdmin"><i class="fa fa-pencil"></i></button>

                                        </td>
                                        <td class="@Html.DisplayNameFor(modelItem => item.Titulo) fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.Titulo)</td>
                                        <td class="@Html.DisplayNameFor(modelItem => item.Descripcion)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.Descripcion)</td>
                                        <td class="@Html.DisplayNameFor(modelItem => item.FechaCreacion)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                                        <td class="@Html.DisplayNameFor(modelItem => item.FechaCierre)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.FechaCierre)</td>
                                        <td class="@Html.DisplayNameFor(modelItem => item.Adjunto)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2">
                                            @if (item.Adjunto != null)
                                            {
                                                <button type="button" onclick="AbrirAdjunto('@item.IdOfertaAcademica')">Ver Adjunto</button>
                                            }
                                        </td>
                                        <td class="@Html.DisplayNameFor(modelItem => item.Estado) fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2">
                                            @if (item.Estado == "S")
                                            {
                                                <span class="badge bg-success">Abierto</span>
                                            }
                                            else if (item.Estado == "N")
                                            {
                                                <span class="badge bg-danger">Cerrado</span>
                                            }
                                            else
                                            {
                                                @item.Estado
                                            }
                                        </td>
@*                                         <td class="@Html.DisplayNameFor(modelItem => item.Estado)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.Estado)</td>
 *@
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center text-muted">No hay ofertas disponibles.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row align-items-center py-1">
                <div class="pagination d-none"></div>
                <div class="col d-flex fs--1">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">Ver Todos<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">Ver menos</a>
                </div>
                <div class="col-auto d-flex">
                    <button class="btn btn-link px-1 me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left me-2"></span>Previa</button>
                    <button class="btn btn-link px-1 ms-1" type="button" title="Next" data-list-pagination="next">Siguiente<span class="fas fa-chevron-right ms-2"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div id="details"></div>
    @*  <script src="~/js/Foro.js"> </script> *@

}



