@model SistemaBase.ModelsCustom.DatosAlumnoCustom

@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="./css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="./css/cdn.jsdelivr.net_npm_sweetalert2@7.12.15_dist_sweetalert2.min.css">
}

@{
    var sectores = new Dictionary<string, string>
    {
        { "E", "Educativo" },
        { "EF", "Económica y Finanzas" },
        { "T", "Tecnología" },
        { "I", "Industrial" },
        { "S", "Salud" },
        { "O", "Otros" }
    };

    var estados = new Dictionary<string, string>
    {
        { "S", "Si" },
        { "N", "No" }
    };


    var estadosAca = new Dictionary<string, string>
    {
        { "A", "Cursando" },
        { "I", "Culminado" },
        { "T", "En proceso de Trabajo de Grado" }
    };

}

<script src="~/js/jquery-3.7.0.js"></script>
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/jquery.datatables.min.js"></script>
<script src="~/js/cdnjs.cloudflare.com_ajax_libs_moment.js_2.29.4_moment.min.js"></script>
<script src="~/js/cdnjs.cloudflare.com_ajax_libs_sweetalert_2.1.2_sweetalert.min.js"></script>

<div>
    <div id="loader"></div>
    <p>
        <a class="d-none" id="detailsview" type="button" data-bs-toggle="modal" data-bs-target="#detailsModal"></a>
    </p>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Datos Personales</h4>
        <button type="button" id="btnEditar" onclick="EditarDatos()" class="btn btn-primary">Editar</button>
        <button type="submit" id="btnGuardar" onclick="GuardarDatos(event)" class="btn btn-primary" disabled>Guardar</button>
    </div>
  
    <form class="was-validated" id="formDatosAlumno">
       
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleFormControlInput1">Numero Documento: </label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="CodPersona" name="CodPersona" value="@Model.CodPersona" disabled>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleFormControlInput1">Nombre y Apellido: </label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" disabled>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleFormControlInput1">Fecha Nacimiento: </label>
                </div>
                <div class="col-sm">
                    <input class="form-control  datetimepicker" asp-for="FecNacimiento" name="FecNacimiento" id="FecNacimiento" type="datetime-local" style="max-width: 350px;" placeholder="d/m/y" data-options='{"disableMobile":true}' disabled />
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleTextarea">Sexo:</label>
                </div>
                <div class="col-sm">
                    <div class="dropup">
                        <select class="form-select" id="Sexo" data-choices="data-choices" single="single" data-options='{"removeItemButton":true,"placeholder":true}' asp-for="Sexo">
                            <option value=""></option>
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleFormControlInput1">Correo: </label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="Correo" name="Correo" value="@Model.Email" disabled>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleFormControlInput1">Direccion Particular: </label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="DireccionParticular" name="DireccionParticular" value="@Model.DireccionParticular" disabled>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label" for="exampleFormControlInput1">Sitio Web: </label>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" id="SitioWeb" name="SitioWeb" value="@Model.SitioWeb" disabled>
                </div>
            </div>
        </div>

        <input id="usuario" name="usuario" type="hidden" value="@Context.User.Identity.Name" />
    </form>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mt-4">Experiencia Laboral</h4>
        <a class="btn btn-primary mt-3" onclick="abrirLaboral(event)">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Agregar
        </a>
   
    </div>
     
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Lugar de Trabajo</th>
                <th>Sector</th>
                <th>Entidad Educativa</th>
                <th>Materia Educativa</th>
                <th>Cargo</th>
                <th>Actualmente tengo este cargo</th>
                <th>Antigüedad</th>
                <th>Herramientas</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.ExperienciaLaboral != null && Model.ExperienciaLaboral.Any())
                            {
                @foreach (var exp in Model.ExperienciaLaboral)
                {
                    <tr>
                        <td>@exp.LugarTrabajo</td>
                        <td>@(sectores.ContainsKey(exp.Sector) ? sectores[exp.Sector] : "No especificado")</td>
                        <td>@exp.UniversidadTrabajo</td>
                        <td>@exp.MateriaTrabajo</td>
                        <td>@exp.Cargo</td>
                        <td>@(estados.ContainsKey(exp.Estado) ? estados[exp.Estado] : "No especificado")</td>
                        <td>@exp.Antiguedad</td>
                        <td>@exp.Herramientas</td>
                        <td>
                            <a  onclick="AbrirEditLab(@exp.IdDatosLaborales)" class="btn btn-warning btn-sm">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>
                            </a>
                            <a onclick="deleteLaboral(@exp.IdDatosLaborales)" class="btn btn-danger btn-sm">
                                <span class="btn-label"><i class="fa fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">No hay registros de experiencia laboral</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mt-4">Educación</h4>
        <a class="btn btn-primary mt-3" onclick="abrirAcademico(event)">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Agregar
        </a>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Centro de Estudio</th>
                <th>Carrera</th>
                <th>Año Inicio</th>
                <th>Año Fin</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Educacion != null && Model.Educacion.Any())
            {
                @foreach (var edu in Model.Educacion)
                {
                    <tr>
                        <td>@edu.CentroEstudio</td>
                        <td>@edu.Carrera</td>
                        <td>@edu.AnhoInicio</td>
                        <td>@edu.AnhoFin</td>
                        <td>@(estadosAca.ContainsKey(edu.Estado) ? estadosAca[edu.Estado] : "No especificado")</td>
                        <td>
                            <a onclick="AbrirEditAca(@edu.IdDatosAcademicos)"  class="btn btn-warning btn-sm">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>
                            </a>
                            <a onclick="modaldelete(@edu.IdDatosAcademicos)" class="btn btn-danger btn-sm">
                                <span class="btn-label"><i class="fa fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">No hay registros de experiencia academica</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="details"></div>
<script src="~/js/sweetalert2.min.js"></script>
<script src="~/js/DatosPersonales.js"></script>