@model IEnumerable<SistemaBase.Models.ParametrosGenerale>

@{
    List<string> columns = new List<string>();
    columns.Add("\"" + Html.DisplayNameFor(model => model.Parametro) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.CodModulo) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Descripcion) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Valor) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Notificado) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.Rowid) + "\"");
    columns.Add("\"" + Html.DisplayNameFor(model => model.CodModuloNavigation) + "\"");
    if (ViewData["Show"] != null)
    {
        Layout = "";
    }
}
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="./css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="./css/cdn.jsdelivr.net_npm_sweetalert2@7.12.15_dist_sweetalert2.min.css">

}

@if (ViewData["Show"] == null)
{
    <script src="~/js/cdnjs.cloudflare.com_ajax_libs_moment.js_2.29.4_moment.min.js"></script>
    <script src="~/js/cdnjs.cloudflare.com_ajax_libs_sweetalert_2.1.2_sweetalert.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <p>
        <a class="d-none" id="detailsview" type="button" data-bs-toggle="modal" data-bs-target="#detailsModal"></a>
    </p>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-7 border-y border-300">
        <div data-list='{"valueNames":[@string.Join(",", columns) ],"page":100}'>
            <div class="row align-items-end justify-content-between pb-5 g-3">
                <div class="col-auto">
                    <h3> Parametros generales</h3>
                    <button class="btnAbm  mt-3" onclick="modalcreate()">
                        <span class="btn-label"><i class="fa fa-plus"></i></span> Nuevo
                    </button>
                    @*<button class="btnAbmOutline mt-3"  onclick="exportDocument()" id="dowload-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
                        </svg>
                        Exportar
                    </button>*@
                </div>
                <div class="col-12 col-md-auto">
                    <div class="row g-2 gy-3">
                        <div class="col-auto flex-1">
                            <div class="search-box">
                                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                    <input class="form-control search-input search form-control-sm" type="search" placeholder="Buscar" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="listbody">
                <div class="table-responsive mx-n1 px-1Latest">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs--1 ps-0 align-middle text-center col-1 pt-2 pb-2 pl-2"></th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Parametro))"> @Html.DisplayNameFor(model => model.Parametro)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Descripcion)"> @Html.DisplayNameFor(model => model.Descripcion)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.Valor)"> @Html.DisplayNameFor(model => model.Valor)</th>
                                <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0  text-center col-2 p-0" data-sort="@Html.DisplayNameFor(model => model.CodModuloNavigation))"> Modulo</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var item in Model)
                            {
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                    <td class="fs--1 align-middle ps-0 text-center col-1 pt-2 pb-2 pl-2">
                                        <button class="btnAbm" onclick="modaledit('@item.Parametro', '@item.CodModulo')"><i class="fa fa-pencil"></i></button>
                                        <button class="btnAbm" onclick="modaldelete('@item.Parametro', '@item.CodModulo')"><i class="fa fa-trash"></i></button>
                                    </td>
                                    <td class="@Html.DisplayNameFor(modelItem => item.Parametro) fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.Parametro)</td>
                                    <td class="@Html.DisplayNameFor(modelItem => item.Descripcion)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.Descripcion)</td>
                                    <td class="@Html.DisplayNameFor(modelItem => item.Valor)  fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.Valor)</td>
                                    <td class="@Html.DisplayNameFor(modelItem => item.CodModuloNavigation) fs--1 align-middle ps-0 text-left col-2 pt-2 pb-2 ps-2"> @Html.DisplayFor(modelItem => item.CodModuloNavigation.CodModulo)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row align-items-center py-1">
                <div class="pagination d-none"></div>
                <div class="col d-flex fs--1">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">Ver Todos<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">Ver menos</a>
                </div>
                <div class="col-auto d-flex">
                    <button class="btn btn-link px-1 me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left me-2"></span>Previa</button>
                    <button class="btn btn-link px-1 ms-1" type="button" title="Next" data-list-pagination="next">Siguiente<span class="fas fa-chevron-right ms-2"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div id="details"></div>
    <script>const editsubmit = (Parametro,CodModulo) => {
    e.preventDefault();
    const form = document.getElementById( "ParametrosGenerale" + "FormEdit" );
    const formData = new FormData(form);
    axios({
    method: "post",
    url: "ParametrosGenerale"+"" + `/Edit`,
    data: formData,
    headers: {
    "Content-Type": "multipart/form-data",
    'X-Response-View': 'Json'
    }
    })
    .then(function (response) {
    document.getElementById("listbody").innerHTML = response.data;
    document.getElementById("editmodal").click();
    })
    .catch(function (response) {
    console.log(response);
    });
    };
    const exportDocument = () => {
        document.getElementById('dowload-button').disabled = true;
        document.getElementById('dowload-button').innerHTML = 'Descargando...';
        axios({
            method: "get",
            url: "ParametrosGenerale",
            headers: {
                "ExportMode": "PDF",
            }
        })
            .then(function (response) {
                const date =  new Date();
                const linkSource = `data:application/pdf;base64,${response.data}`;
                const downloadLink = document.createElement("a");
                const fileName = `reporte-parametrosgenerales-${date.getDay()}-${date.getMonth()}-${date.getFullYear()}.pdf`;
                downloadLink.href = linkSource;
                downloadLink.download = fileName;
                downloadLink.click();
                document.getElementById('dowload-button').disabled = false;
                document.getElementById('dowload-button').innerHTML = `
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
                        </svg>
                        Exportar
                `;
            })
            .catch(function (response) {
                console.log(response);
            });

    };
    const modalcreate = () => {
    axios({
    baseURL: "ParametrosGenerale"+"" + "/Create" ,
    method: 'Get',
    headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'X-Response-View': 'Json'
    }
    }).then(response => {
    document.getElementById("details").innerHTML = response.data;
    document.getElementById("detailsview").click();
    });
    };
    const modaledit = (Parametro,CodModulo) => {
    axios({
    baseURL: "ParametrosGenerale"+"" + "/Edit?" +`Parametro=${Parametro}&CodModulo=${CodModulo}`,
    method: 'Get',
    headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'X-Response-View': 'Json'
    }
    }).then(response => {
    document.getElementById("details").innerHTML = response.data;
    document.getElementById("detailsview").click();
    });
    };
    const modaldetails = (Parametro,CodModulo) => {
    axios({
    baseURL: "ParametrosGenerale"+"" + "/Details?" +`Parametro=${Parametro}&CodModulo=${CodModulo}`,
    method: 'Get',
    headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'X-Response-View': 'Json'
    }
    }).then(response => {
    document.getElementById("details").innerHTML = response.data;
    document.getElementById("detailsview").click();
    });
    };
    const modaldelete = (Parametro,CodModulo) => {
    axios({
    baseURL: "ParametrosGenerale"+"" + "/Delete?" +`Parametro=${Parametro}&CodModulo=${CodModulo}`,
    method: 'Get',
    headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json',
    'X-Response-View': 'Json'
    }
    }).then(response => {
    document.getElementById("details").innerHTML = response.data;
    document.getElementById("detailsview").click();
    });
    };
    const submitforms = (e, url, id) => {
        e.preventDefault();
        document.getElementById("loader_inv").style.visibility = "visible";
        const form = document.getElementById(id);
        const formData = new FormData(form);
        axios({
        method: "post",
        url:  "ParametrosGenerale"+"/" + `${url}`,
        data: formData,
        headers: {
        "Content-Type": "multipart/form-data",
        'X-Response-View': 'Json'
        }
        })
        .then(function (response) {
                    if (response.data.success == false) {
                        swal({
                            icon: 'error',
                            title: 'Error...',
                            text: response.data.message
                        });
                        //loader.style.display = 'none';
                    } else {
                    document.getElementById("listbody").innerHTML = response.data;
                    document.getElementById("editmodal").click();
                    document.getElementsByClassName("modal-backdrop fade show")[0].className = "";
                        swal({
                            icon: 'success',
                            title: 'Listo',
                            text: 'La operación se realizó correctamente.'
                        });
                    }
        })
        .catch(function (response) {
        console.log(response);
        }).finally(() => {
        document.getElementById("loader_inv").style.visibility = "hidden";
        refrestjsfunction();
        });
        };
const verifyCheckbox = (id) => {
var checkBox = document.getElementById(id+"_2");
var text = document.getElementById(id);
if (checkBox.checked == true){
text.value = "S";
} else {
text.value = "N";
}
}
   const refrestjsfunction = () => {
    const refreshjs = document.querySelectorAll("script");
refreshjs.forEach((item) =>
{
    var src = item.src;
    item.remove();
    var script,
        scriptTag;
    script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = src;
    scriptTag = document.getElementsByTagName('script')[0];
    scriptTag.parentNode.insertBefore(script, scriptTag );
})
    }</script>
}
else
{
    <div>
        <div class="table-responsive mx-n1 px-1Latest">
            <table class="table table-striped fs--1 mb-0 border-top border-200">
                <thead>
                    <tr>
                        <th class="white-space-nowrap fs--1 ps-0 align-middle"></th>
                        <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0 align-middle" data-sort="@Html.DisplayNameFor(model => model.Parametro))"> @Html.DisplayNameFor(model => model.Parametro)</th>
                        <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0 align-middle" data-sort="@Html.DisplayNameFor(model => model.Descripcion)"> @Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0 align-middle" data-sort="@Html.DisplayNameFor(model => model.Valor)"> @Html.DisplayNameFor(model => model.Valor)</th>
                        <th class="sort align-middle ps-3 white-space-nowrap fs--1 ps-0 align-middle" data-sort="@Html.DisplayNameFor(model => model.CodModuloNavigation))"> @Html.DisplayNameFor(model => model.CodModuloNavigation)</th>
                    </tr>
                </thead>
                <tbody class="list">
                    @foreach (var item in Model)
                    {
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0">
                                <button class="btnAbm" onclick="modaledit('@item.Parametro', '@item.CodModulo')"><i class="fa fa-pencil"></i></button>
                                <button class="btnAbm" onclick="modaldelete('@item.Parametro', '@item.CodModulo')"><i class="fa fa-trash"></i></button>
                                <button class="btnAbm" onclick="modaldetails('@item.Parametro', '@item.CodModulo')"><i class="fa fa-arrow-right"></i></button>
                            </td>
                            <td class="@Html.DisplayNameFor(modelItem => item.Parametro) fs--1 align-middle ps-0"> @Html.DisplayFor(modelItem => item.Parametro)</td>
                            <td class="@Html.DisplayNameFor(modelItem => item.Descripcion)  fs--1 align-middle ps-0 "> @Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td class="@Html.DisplayNameFor(modelItem => item.Valor)  fs--1 align-middle ps-0 "> @Html.DisplayFor(modelItem => item.Valor)</td>
                            <td class="@Html.DisplayNameFor(modelItem => item.CodModuloNavigation) fs--1 align-middle ps-0 "> @Html.DisplayFor(modelItem => item.CodModuloNavigation.CodModulo)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
